/* google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@700;900&display=swap');
 */

 /* font family
 font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(0, 175, 250);
}
a.theme-button{
    text-decoration: none;
    font-size: 14px;
    background-color: rgb(75, 80, 204);
    color: #fff;
    padding: 10px 16px;
    display: inline-block;
    margin-top: 25px;
    border-radius: 40px;
    text-transform: uppercase;
    transition: .5s;
}
a.theme-button:hover{
    background-color: rgb(0, 255, 247);
    color: blue;
}

.container{
    padding: 0 10%;
}
/* header area */
header{
    padding: 20px 0;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 70px;
    height: 50px;
}
.icon img{
    width: 30px;
    height: 20px;
}

.main-menu a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    transition: .5s;

}
.main-menu a:hover{
        color: rgb(0, 175, 250);
}
/* header area end */

/* hero area start */

.hero-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* about area */
.about-contant{
    display: flex;
    align-items: center;
    padding: 0px;
}
.about-image{
    flex: 1;
    padding: 10px;
}
.about-text{
    flex: 1;
    margin-right: 20px;
}
/* portfolio area */
.portfolio-heading{
    text-align: center;
}
.portfolio-heading h1{
    margin-bottom: 10px;
}
.portfolio-heading p{
    margin-bottom: 20px;
}

.portfolio-image{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,auto));
    grid-gap: 10px;
    align-items: center;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}
.col{
    position: relative;
}
.col img{
    max-width: 100%;
    width: 550px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
.layer{
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    transition: all .40s;
}
.layer:hover{
    background: linear-gradient( rgba(231, 191, 191, 0.5) 0%, #191919);
}

.layer h3:hover{
    color: #fff;
}
.layer h5:hover{
    color: #fff;
}

/* services area */
.services-heading{
    text-align: center;
}
.services-contant{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}
.single-services{
    background: rgb(219, 219, 219);
    text-align: center;
    padding: 10px;
}
.single-services span{
    color: blue;
}


/* project area */
.project-heading{
    text-align: center;
    margin: 40px 0 10px 0;
}
.project-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.single-project{
    text-align: center;
    padding: 10px;
}
#one{
    background: rgb(7, 178, 230);
}
#two{
    background: rgb(248, 94, 225);
}
#three{
    background: rgb(227, 234, 152);
}

/* contact area */

.contact-all{
    display: flex;
    margin: 100px 0;
}
.contact-heading{
    flex: 1;
    color: rgb(0, 0, 0);
}
.massage-icon{
    display: flex;
    margin-top: 20px;
}

.massage-icon img{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
.phone-icon{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.phone-icon img{
    width: 30px;
    height: 40px;
    margin-right: 20px;
}
.contact-form{
    flex: 1;
    margin-top: 20px;
}
.contact-form h4{
    color: #00c0ff;
}
.address{
    display: grid;
    gap: 10px;
    grid-template-areas:
    "f l"
    "e p"
    "m m"
    "s s";
}
#first-name{
    grid-area: f;
}
#last-name{
    grid-area: l;
}
#email{
    grid-area: e;
}
#Phone-Number{
    grid-area: p;
}
#message{
    grid-area: m;
}
#submit{
    grid-area: s;
    color: #fff;
    background-color: rgb(75, 80, 204);
    cursor: pointer;
}
.address input{
    padding: 10px;
    font-size: 17px;
    background-color: rgb(235, 229, 229);
    color: black;
}
.address textarea{
    padding: 10px;
    padding: 10px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(235, 229, 229);
    color: black;
}
/* contact area ent */

/* footer area stare */
.footer-content{
    display: flex;
    margin: 40px 0;
    border-top: 1px solid rgb(120, 118, 118);
    padding: 10px;
    color: rgb(0, 0, 0);
    align-items: center;
}
.footer-content p{
    flex: 1;
}
.folow-me{
    flex: 1;
    margin-top: 10px;
    align-items: center;
}
.facebook-icon img{
    width: 60px;
    cursor: pointer;
}
.twitter-icon img{
    width: 60px;
    cursor: pointer;
}
.linkedin-icon img{
    width: 60px;
    cursor: pointer;
}
.youtube-icon img{
     width: 60px;
     cursor: pointer;

}
.folow-me{
    display: flex;
}
.folow-me div{
    padding-left: 20px;
}